<div class='container mt-5'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-body'>
                    <h2 class='card-title text-center'>Dashboard</h2>
                    <div class='text-center'>
                        <a class='btn btn-primary' href='/new-post'>Create New Post</a>
                    </div>
                    <hr>
                    {{#each posts}}
                    <div class='card mb-3'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{this.title}}</h5>
                            <p class='card-text'>{{this.postContent}}</p>
                            <p class='text-muted'>Posted by {{this.user.username}} on {{this.formattedDate}}</p>
                            <a href='/edit-post/{{this.id}}' class='btn btn-secondary'>Edit</a>
                            <button class='btn btn-danger delete-post' data-id='{{this.id}}'>Delete</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src='/js/dashboardHandling.js'></script>